Pods/*
bb_clock/GoogleService-Info.plist
Podfile.lock
bb_clock.xcworkspace/xcuserdata/user.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
bb_clock.xcworkspace/xcuserdata/user.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
bb_clock.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
bb_clock.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
bb_clock.xcodeproj/project.pbxproj
